@font-face{
    font-family: 'Cremona';
    src: url("../font/Cremona.ttf") format("truetype");
} 

@font-face{
    font-family: 'Avenir Light';
    src: url("../font/Avenir-Light.ttf") format("truetype");
} 

.event-post {
    width: 512px; 
    background-color: white; 
    margin-left: 7%; 
    margin-top: 5%; 
}

.event-post .event-image{
    width: 512px;
    height: 288px;  
    object-fit: contain;
    overflow: hidden; 
}

.event-post .event-text{
    width: 100%; 
    padding: 5%; 
    border: solid; 
    border-width: 10px; 
    border-radius: 1px;
    margin-top: 5px; 
    border-color: #19427f;
}

.event-post .event-text .event-title{ 
    font-size: 40px; 
    font-family: Cremona; 
    text-align: center; 
}

.event-post .event-text .event-date{ 
    font-size: 15px; 
    font-family: Avenir Light; 
    text-align: center; 
}

.event-post .event-text .event-blurb{ 
    font-size: 15px; 
    font-family: Avenir Light; 
    text-align: center; 
}