@font-face{
    font-family: 'Avenir Light';
    src: url("../font/Avenir-Light.ttf") format("truetype");
} 

.footer-div{
    margin-top: 50px; 
    clear: both; 
    width: 100%; 
    height: auto; 
    background: #19427f;
    bottom: 0; 
}

.footer-div .footer-form{
    color: white; 
    width: 46%; 
    font-family: Avenir Light; 
    padding: 2%; 
    display: inline-block;
}

.footer-div .footer-right{
    width: 40%; 
    padding: 4%;
    margin-left: 10%; 
    padding-top: 2% !important;
    display: inline-block;
    vertical-align:top;
    font-family: Avenir Light;
    color: white; 
}

.footer-div .footer-right .footer-address{
    font-size: 15px;  
    margin-bottom: 10px; 
}

.footer-div .footer-form .heading, .footer-div .footer-right .footer-address .footer-a-heading, .footer-div .footer-right .footer-subheading{
    font-size: 18px;  
    font-weight: bold; 
    margin-bottom: 1%;
}

.footer-div .footer-right .footer-icon{ 
    margin-bottom: 5%; 
}

.footer-div .footer-right .footer-icon .footer-image{ 
    width: 30px; 
    display: inline-block; 
}

.footer-div .footer-right .footer-icon .footer-text{ 
    display: inline-block;
    margin-left: 10px; 
    font-size: 15px;  
    height: 30px; 
    color: white;
}

