@font-face{
    font-family: 'Cremona';
    src: url("../font/Cremona.ttf") format("truetype");
} 

@font-face{
    font-family: 'Avenir Roman';
    src: url("../font/Avenir-Roman.ttf") format("truetype");
} 

.nav{ 
    top: 0px; 
    position: sticky;
    z-index: 1; 
}

.nav .logo-nav{ 
    background-color: #19427f;
    text-align: center;
    padding-top: 2%; 
    padding-bottom: 2%;     
}

.nav .logo-nav .image-nav{
    width: 5%; 
    margin: auto; 
}

.nav .pages-nav{ 
    background-color: #f3bcbb;
    text-align: center;
    color: white;
    font-family: 'Avenir Roman'; 
    font-size: 15px; 
}

.nav .pages-nav .link{ 
    display:inline-block; 
    margin-left: 5%;
    color: #19427f;  
    padding: 1%; 
}